{% extends 'base.html.twig' %}

{% block title %}Hello HotelFormController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Reservierung</h1>

    <form action="/add" method="post">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname"><br>
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname"><br>
        <label for="address">Address</label>
        <input type="text" name="address"><br>
        <label for="roomtype">Roomtype</label>
        <select name="roomtype"><br>
            {% for room in rooms %}
                <option value="{{ room.id }}">{{ room.type }}</option>
            {% endfor %}
{#            <option value="single">Single</option>#}
{#            <option value="double">Double</option>#}
{#            <option value="jSuite">Junior Suite</option>#}
{#            <option value="suite">Suite</option>#}
        </select><br>

        <label for="arrivalDate">Arrival</label>
        <input type="datetime-local" name="arrivalDate"><br>
        <label for="departureDate">Departure</label>
        <input type="datetime-local" name="departureDate"><br>
        <button type="submit">Send</button>

    </form>
</div>
{% endblock %}
