{% extends 'base.html.twig' %}

{% block title %}Hello HomepageViewController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Reservierungen</h1>
    <table id="firmen" class="table table-striped table-bordered">
        <tr>
            <th>Booking ID</th>
            <th>Kunden</th>
            <th>Zimmer</th>
            <th>Anreise</th>
            <th>Abreise</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
        </tr>
        {% for booking in bookings %}<tr>
            <td data-label="ID">{{ booking.id }}</td>
            <td data-label="Kunde">{{ booking.customer.firstname }} {{ booking.customer.lastname }}<br>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{ booking.id }}" aria-expanded="false" aria-controls="collapseExample">
                    Adresse anzeigen
                </button>
                <div class="collapse" id="collapseExample{{ booking.id }}">
                    <div class="card card-body">
                        {{ booking.customer.address }}</div>
                </div>
            </td>
            <td data-label="Zimmer">{{ booking.room.number }} - {{ booking.room.type }}</td>
            <td data-label="Anreise">{{ booking.arrivalDate }}</td>
            <td data-label="Abreise">{{ booking.departureDate }}</td>
            <td data-label="Edit" align="center">
                <a href="/?id={{ booking.id }}">
                    <svg class="bi bi-pencil" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                              clip-rule="evenodd"/>
                        <path fill-rule="evenodd"
                              d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </td>
            <td data-label="Del" align="center">
                <a onclick="return confirm(`Löschen?`)"
                   href="/?id={{ booking.id }}">
                    <svg class="bi bi-x-circle-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M16 8A8 8 0 110 8a8 8 0 0116 0zm-4.146-3.146a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708-.708L8.707 8l3.147-3.146z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </td>
            </tr>
        {% endfor %}</table>
</div>
{% endblock %}
